__pycache__/
.ipynb_checkpoints/
*.py[cod]
.DS_Store

logs/
results/
result_mols/
result_eval*/
mfrag_region_cache/
tmp/

ckpt/
oracle/*.pkl

data/*.pt
data/zinc250k.txt
data/zinc250k_novelty.pt

*.pkl
*.log
*.out
*.err
